.grad{
	background: linear-gradient(-45deg, #FF9933, #FFD700, #006994,  #DC143C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

footer.grad{
	background: linear-gradient(-45deg, #FF9933, #006994,  #DC143C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.white-text{
    color: white;
    font-weight: 400;
}

.white-text-heading{
    color: white;
    font-weight: 550;
    font-size: 18pt;
}

.navbar-nav .dropdown-menu {
    margin-right: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-nav {
    align-items: center;
}

.dropdown-toggle::after {
    vertical-align: 0.255em;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    display: inline-block;
    content: "";
    position: relative;
    top: -0.125em; 
    color: white; 
}

.background-image-1 {
    background-image: url('./images/photo-1624124231037-e2149a973c24.avif'); 
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.text-content {
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.footer {
    background-color: #333;
    padding: 20px 0;
    color: white; /* Make all text in footer white */
}

.footer-column {
    padding: 20px;
    text-align: center; /* Center-align content */
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style
    : none; /* Remove bullets */
}
.footer ul li {
    margin-bottom: 10px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.timing-slots p {
    margin: 0;
    text-align: center; 
}

